<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Il Bar della Sapienza</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../css/Css Menù a tendina.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="../css/Negozio.css">
        <link rel="stylesheet" type="text/css" href="../css/animation.css">
        <link rel="stylesheet" type="text/css" href="../css/Style_Login.css">
        <script type = "text/javascript" src = "../js/vue.min.js"></script>
    </head>
    
    <body onload="caricaPagine(); slide(); msg(); NegActive()">
        
        <div class="main-wrapper">
            <div class="nav-background" id="intest"></div>

            <div class="site-content-wrapper">
               
                <div class="site-content" id="app">
                    <header class="topbar" id="inf"></header>
    
                    <nav id="menu"></nav>
                    <br>
                    <div id="message-container" class="fade-in">
                        <!-- Qui comparirá lil messaggio -->
                    </div>
                    <br>
                    
                    <section class="top-products">
                        <div class="container">
                            <h1 class="section-heading">I Nostri Prodotti</h1>
                            <div class="slider">
                                
                                <div class="food-slider">
                                    <div class="food-card magic-shadow-sm" v-for="(x,index) in products" :key="x.id">
                                        <div class="product-image flex items-center justify-center">
                                            <img v-bind:src=x.image alt="">
                                        </div>
                                        <hr>
                                        <div>
                                            <h2 class="text-center">{{x.product}}</h2>
                                            <h4 class="text-center">{{x.description}}</h4>
                                            <div class="stars flex justify-center items-center">
                                                <img src="../icons/start-filled.svg" alt="" v-for="y in x.rating">
                                                <img src="../icons/star-grey.svg" alt="" v-for="z in 5 - x.rating">
                                            </div>
                                            <div class="price text-center">{{x.price}}</div>
                                            <div class="flex justify-center">
                                                <button v-on:click="addCarr(index)">
                                                    <img src="../icons/cart-2.svg" alt="">
                                                    <span >Aggiungi al carrello</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                <button class="slider-btn prev-btn"><img src="../icons/pre.svg" alt=""></button>
                                <button class="slider-btn next-btn"><img src="../icons/next.svg" alt=""></button>
                            </div>
                            
                        </div>
                    </section>
                    <section class="our-services" id="serv"></section>

                    <footer id="foot"></footer>

                    <footer class="copyright">
                        <div>
                            Copyright © 2021. All rights reserved by Marco Paglialunga, Enrico Fortuna, Andrea Celestini</a>.
                        </div>
                    </footer>
                    
                </div>
            </div>
        </div>
    
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="../js/intestazione.js"></script>
        <script type="text/javascript" src="../js/memoria.js"></script>
        <script type="text/javascript" src="../js/prodotti.js"></script>
        <script type="text/javascript" src="../js/verifica.js"></script>
        <script type="text/javascript" src="../js/negozio.js"></script>
        <script type="text/javascript">
            function NegActive(){
                document.getElementById("ng").style= "background:var(--primary);color:var(--pure);";
            }
        </script> 
    </body>




</html>