.corpo{
    
    background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5), url("Registrazione/image.jpg"));
    background-size: cover;
    background-position:center;
    
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;

}

.login-left{
    background: rgba(211,211,211, 0.5);
    padding: 50px;

}

.login-right{
    background: rgba(211,211,211, 0.5);
    padding: 50px;
    
}

.row{
    background: rgb(0, 0, 0);
    background-color:transparent;
}


.btn-reg {
    
    background: rgb(121, 10, 10);
    color:rgb(255, 255, 255)
}